*{
    margin: 0;
    padding: 0;
    font-family: serif;
    text-transform: capitalize;
}
.flex{
    display: flex;
    margin-top: 15px;
    
}
nav{
    margin-left: 600px;
    
}
a{
    padding: 35px;
    text-decoration: none;
    color: black;

}
span{
    font-size: 40px;
}
.logo{
    margin-left: 5px;
}
#one{
    background-color: orangered;
    color: white;
    width: 70px;
    padding: 5px;
    border: solid;
    border-width: thin;
    border-color: orangered;
    border-radius: 5px;
    cursor: pointer;

}
.flex2{

    display: flex;
    justify-content: space-around;
}
.flex3{
    display: flex;

}
.flexse{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-left: -30px; 
    text-transform: capitalize;
}